<!-- ACCOUNT -->
<div class="tab-pane fade active show" id="v-pills-additional" role="tabpanel" aria-labelledby="v-pills-additional-tab" tabindex="0">
  <div class="container py-4">
    <div class="edit-profiles card shadow-sm p-4">
      <form action="/account/update-profile/{{customer._id}}" method="post" id="form" class="form-group">
        <h3 class="mb-4">Hi, {{customer.name}}</h3>
        <div class="row g-4">
          <!-- Information Section -->
          <div class="col-md-6">
            <h5 class="mb-3">Personal Information</h5>
            <div class="mb-3">
              <label for="name" class="form-label">Full Name</label>
              <input type="text" id="name" name="name" placeholder="Write your name here*" class="form-control" value="{{customer.name}}">
            </div>
            <div class="mb-3">
              <label for="country" class="form-label">Country</label>
              <input type="text" id="country" name="country" placeholder="Write your country here*" class="form-control" value="{{customer.country}}">
            </div>
            <div class="mb-3">
              <label for="address" class="form-label">Address</label>
              <input type="text" id="address" name="address" placeholder="Write your address here*" class="form-control" value="{{customer.address}}">
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" id="email" name="email" placeholder="Write your email here*" class="form-control" value="{{customer.email}}" disabled>
            </div>
            <div class="mb-3">
              <label for="phone_number" class="form-label">Phone Number</label>
              <input type="text" id="phone_number" name="phone_number" placeholder="Write your phone number here*" class="form-control" value="{{customer.phone_number}}">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" id="password" name="password" placeholder="Write your password here*" class="form-control" value="{{customer.password}}">
            </div>
          </div>

          <!-- Banking Section -->
          <div class="col-md-6">
            <h5 class="mb-3">Banking Details</h5>
            <div class="mb-3">
              <label for="bank_account_number" class="form-label">Bank Account Number</label>
              <input type="text" id="bank_account_number" name="bank_account_number" placeholder="Write your bank account number here*" class="form-control" value="{{customer.bank_account_number}}">
            </div>
            <div class="mb-3">
              <label for="bank_name" class="form-label">Bank Name</label>
              <select name="bank_name" id="bank_name" class="form-control">
                {{#each bank}}
                <option value="{{this.name}}" {{#if (eq ../customer.bank_name this.name)}}selected{{/if}}>
                  {{this.name}}
                </option>
                {{/each}}
              </select>
            </div>
            <p class="text-danger small">* Please note: Use only a bank account matching your Full Name</p>
          </div>
        </div>
        <!-- Submit Button -->
        <div class="text-end mt-4">
          <button type="submit" name="submit" class="btn btn-dark btn-lg text-uppercase">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
