<!-- Banner -->
  {{#if customer}}
  <section id="banner" class="py-3" style="background: #F9F3EC;">
    <div class="container">
      <div class="hero-content py-5 my-3">
        <h2 class="display-1 mt-3 mb-0">{{selectedCategory.name}}</h2>
        <nav class="breadcrumb">
          <a class="breadcrumb-item nav-link" href="#">Home</a>
          <a class="breadcrumb-item nav-link" href="#">Pages</a>
          <span class="breadcrumb-item active" aria-current="page">Shop</span>
        </nav>
      </div>
    </div>
  </section>
<!-- Grid -->
  <div class="shopify-grid">
    <div class="container py-5 my-5">
      <div class="row flex-md-row-reverse g-md-5 mb-5">

        <main class="col-md-9">
          <div class="product-grid row ">
          {{#each products}}
          <div class="col-md-4 my-4">
              <div class="card position-relative">
                {{#if images}}
                <a href="/product/detail/{{urlRewriteName}}"><img src="{{this.images.[0]}}" class="img-fluid rounded-4" alt="image" style="height: 310px; weight: 283px;"></a>
                {{/if}}
                <div class="card-body p-0">
                  <a href="/product/detail/{{urlRewriteName}}">
                    <h3 class="card-title pt-4 m-0">{{this.name}}</h3>
                  </a>

                  <div class="card-text">
                    <span class="rating secondary-font">
                      <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                      <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                      <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                      <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                      <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                      5.0</span>

                    <h3 class="secondary-font text-primary">{{price}} vnd</h3>
                    {{!-- {{#if check}} --}}   
                    <div class="d-flex flex-wrap mt-3">
                      <a href="/cart/add-cart/{{this._id}}" class="btn-cart me-3 px-4 pt-3 pb-3">
                      <h5 class="text-uppercase m-0">Add to Cart</h5>                    
                      </a>
                      <a href="#" class="btn-wishlist px-4 pt-3 ">
                        <iconify-icon icon="fluent:heart-28-filled" class="fs-5"></iconify-icon>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          {{/each}}
          </div>
          <!-- / product-grid -->
          <nav class="navigation paging-navigation text-center mt-5" role="navigation">
            <div class="pagination loop-pagination d-flex justify-content-center align-items-center">
              <a href="#" class="pagination-arrow d-flex align-items-center mx-3">
                <iconify-icon icon="ic:baseline-keyboard-arrow-left" class="pagination-arrow fs-1"></iconify-icon>
              </a>
              <span aria-current="page" class="page-numbers mt-2 fs-3 mx-3 current">1</span>
              <a class="page-numbers mt-2 fs-3 mx-3" href="#">2</a>
              <a class="page-numbers mt-2 fs-3 mx-3" href="#">3</a>
              <a href="#" class="pagination-arrow d-flex align-items-center mx-3">
                <iconify-icon icon="ic:baseline-keyboard-arrow-right" class="pagination-arrow fs-1"></iconify-icon>
              </a>
            </div>
          </nav>

        </main>
        <aside class="col-md-3 mt-5">
          <div class="sidebar">
            <div class="widget-product-categories pt-5">
              <h4 class="widget-title">Categories</h4>
              {{#each category}}
              <ul class="product-categories sidebar-list list-unstyled">
                <li class="cat-item">
                  <a href="/category/{{slug}}" class="nav-link">{{name}}</a>
                </li>
              </ul>
              {{/each}}
            </div>
          </div>
        </aside>
      </div>
    </div>
  </div>
  {{else}}
  <section id="banner" class="py-3" style="background: #F9F3EC;">
    <div class="container">
      <div class="hero-content py-5 my-3">
        <h2 class="display-1 mt-3 mb-0">{{selectedCategory.name}}</h2>
        <nav class="breadcrumb">
          <a class="breadcrumb-item nav-link" href="#">Home</a>
          <a class="breadcrumb-item nav-link" href="#">Pages</a>
          <span class="breadcrumb-item active" aria-current="page">Shop</span>
        </nav>
      </div>
    </div>
  </section>
<!-- Grid -->
  <div class="shopify-grid">
    <div class="container py-5 my-5">
      <div class="row flex-md-row-reverse g-md-5 mb-5">

        <main class="col-md-9">
          <div class="product-grid row ">
          {{#each products}}
          <div class="col-md-4 my-4">
              <div class="card position-relative">
                {{#if images}}
                <a href="/product/detail/{{urlRewriteName}}"><img src="{{this.images.[0]}}" class="img-fluid rounded-4" alt="image" style="height: 310px; weight: 283px;"></a>
                {{/if}}
                <div class="card-body p-0">
                  <a href="/product/detail/{{urlRewriteName}}">
                    <h3 class="card-title pt-4 m-0">{{this.name}}</h3>
                  </a>

                  <div class="card-text">
                    <span class="rating secondary-font">
                      <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                      <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                      <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                      <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                      <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                      5.0</span>

                    <h3 class="secondary-font text-primary">{{price}} vnd</h3>
                    {{!-- {{#if check}} --}}   
                    <div class="d-flex flex-wrap mt-3">
                      <a href="/auth" class="btn-cart me-3 px-4 pt-3 pb-3">
                      <h5 class="text-uppercase m-0">Add to Cart</h5>                    
                      </a>
                      <a href="#" class="btn-wishlist px-4 pt-3 ">
                        <iconify-icon icon="fluent:heart-28-filled" class="fs-5"></iconify-icon>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          {{/each}}
          </div>
          <!-- / product-grid -->
          <nav class="navigation paging-navigation text-center mt-5" role="navigation">
            <div class="pagination loop-pagination d-flex justify-content-center align-items-center">
              <a href="#" class="pagination-arrow d-flex align-items-center mx-3">
                <iconify-icon icon="ic:baseline-keyboard-arrow-left" class="pagination-arrow fs-1"></iconify-icon>
              </a>
              <span aria-current="page" class="page-numbers mt-2 fs-3 mx-3 current">1</span>
              <a class="page-numbers mt-2 fs-3 mx-3" href="#">2</a>
              <a class="page-numbers mt-2 fs-3 mx-3" href="#">3</a>
              <a href="#" class="pagination-arrow d-flex align-items-center mx-3">
                <iconify-icon icon="ic:baseline-keyboard-arrow-right" class="pagination-arrow fs-1"></iconify-icon>
              </a>
            </div>
          </nav>

        </main>
        <aside class="col-md-3 mt-5">
          <div class="sidebar">
            <div class="widget-product-categories pt-5">
              <h4 class="widget-title">Categories</h4>
              {{#each category}}
              <ul class="product-categories sidebar-list list-unstyled">
                <li class="cat-item">
                  <a href="/category/{{slug}}" class="nav-link">{{name}}</a>
                </li>
              </ul>
              {{/each}}
            </div>
          </div>
        </aside>
      </div>
    </div>
  </div>
  {{/if}}