
  <section id="selling-product">
    <div class="container my-md-5 py-5">
      <div class="row g-md-5">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-md-12">
              <!-- product-large-slider -->
              <div class="swiper product-large-slider">
                <div class="swiper-wrapper">
                  {{#each product.images}} 
                  <div class="swiper-slide">
                    <img src="{{this}}" class="img-fluid" style="width: 670px; height: 670px"/>
                  </div>
                  {{/each}}
                </div>
              </div>
            </div>
            <div class="col-md-12 mt-2">
              <!-- product-thumbnail-slider -->
              <div thumbsSlider="" class="swiper product-thumbnail-slider">
                <div class="swiper-wrapper">
                  {{#each product.images}} 
                  <div class="swiper-slide">
                    <img src="{{this}}" class="img-fluid" style="width: 310px; height: 200px"/>
                  </div>
                  {{/each}}
                </div>
              </div>
            </div>

          </div>

        </div>
        <div class="col-lg-6 mt-5 ">
          <div class="product-info">
            <div class="element-header">
              <h2 itemprop="name" class="display-6">{{product.name}}</h2>
              <p>Product id: {{product.id}}</p>
            </div>
            <div class="product-price pt-3 pb-3">
              <strong class="text-primary display-6 fw-bold">{{product.price}} đ</strong>
            </div>
            <div class="cart-wrap">
              <div class="color-options product-select">
              <div class="product-quantity pt-2">
                <div class="stock-button-wrap">
                  <div class="d-flex flex-wrap pt-4">
                    <a href="/cart/add-cart/{{this.product._id}}" class="btn-cart me-3 px-4 pt-3 pb-3">
                      <h5 class="text-uppercase m-0">Add to Cart</h5>
                    </a>
                    <a href="#" class="btn-wishlist px-4 pt-3 ">
                      <iconify-icon icon="fluent:heart-28-filled" class="fs-5"></iconify-icon>
                    </a>
                  </div>

                </div>
              </div>
            </div>
            <div class="meta-product pt-4">
              <div class="meta-item d-flex align-items-baseline">
                <h6 class="item-title fw-bold no-margin pe-2">Category: </h6>
                <ul class="select-list list-unstyled d-flex">
                  <li data-value="S" class="select-item">
                    <a href="#">{{category.name}}</a>,
                  </li>
                </ul>
              </div>
              <div class="meta-item d-flex align-items-baseline">
                <h6 class="item-title fw-bold no-margin pe-2">Tags:</h6>
                <ul class="select-list list-unstyled d-flex">
                  <li data-value="S" class="select-item">
                    <a href="#">{{brand.name}}</a>,
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="product-info-tabs py-md-5">
    <div class="container">
      <div class="row">
        <div class="d-flex flex-column flex-md-row align-items-start gap-5">
          <div class="nav flex-row flex-wrap flex-md-column nav-pills me-3 col-lg-3" id="v-pills-tab" role="tablist"
            aria-orientation="vertical">
            <button class="nav-link fs-5 mb-2 text-start active" id="v-pills-description-tab" data-bs-toggle="pill"
              data-bs-target="#v-pills-description" type="button" role="tab" aria-controls="v-pills-description"
              aria-selected="false" tabindex="-1">Description</button>
          </div>
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade active show" id="v-pills-description" role="tabpanel"
              aria-labelledby="v-pills-description-tab" tabindex="0">
              <h2>Product Description</h2>
              {{{product.description}}}
            </div>
            
            <div class="tab-pane fade" id="v-pills-reviews" role="tabpanel" aria-labelledby="v-pills-reviews-tab"
              tabindex="0">
              <div class="add-review mt-5">
                <h3>Send a report about product</h3>
                <p>Your email address will not be published. Required fields are marked *</p>
                <form action="" id="form" class="form-group">
                  <div class="pb-3">
                    <label>Your Name</label>
                    <input type="text" name="name" placeholder="Write your name here*" class="form-control">
                  </div>
                  <div class="pb-3">
                    <label>Your Email</label>
                    <input type="text" name="email" placeholder="Write your email here*" class="form-control">
                  </div>
                  <div class="pb-3">
                    <label>What happened with the product</label>
                    <textarea class="form-control" placeholder="Write your review here*"></textarea>
                  </div>
                  <button type="submit" name="submit"
                    class="btn btn-dark btn-large text-uppercase w-100">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
