  <link rel="stylesheet" href=".css">
  <hr>
  <section class="product-info-tabs py-md-5">
    <div class="container">
      <div class="row">
        <div class="d-flex flex-column flex-md-column align-items-start gap-5">
          <div class="nav flex-row flex-wrap flex-md-row nav-pills me-3 col-lg-3" id="v-pills-tab" role="tablist"
            aria-orientation="vertical">
            <button class="nav-link fs-5 mb-2 text-start active" id="v-pills-additional-tab" data-bs-toggle="pill"
              data-bs-target="#v-pills-additional" type="button" role="tab" aria-controls="v-pills-additional"
              aria-selected="false" tabindex="-1">Information</button>
              
            <button class="nav-link fs-5 mb-2 text-start" id="v-pills-description-tab" data-bs-toggle="pill"
              data-bs-target="#v-pills-description" type="button" role="tab" aria-controls="v-pills-description"
              aria-selected="false" tabindex="-1">Order</button>
          </div>
          
          <div class="tab-content" id="v-pills-tabContent">
            {{!-- ORDER --}}
            <div class="tab-pane fade active show" id="v-pills-additional" role="tabpanel" aria-labelledby="v-pills-additional-tab"
              tabindex="0">
                <div class="edit-profiles">
                <form action="/update-profile/{{customer._id}}" method="post" id="form" class="form-group">
                <h3>Hi, {{customer.name}}</h3>
                  <div class="row pb-3">
                  <div class="col-md-6">
                    <label>Full Name</label>
                    <input type="text" name="name" placeholder="write your name here*" class="form-control" value="{{customer.name}}">
                  </div>
                  <div class="pb-3">
                    <label>Address</label>
                    <input type="text" name="address" placeholder="write your address here*" class="form-control" value="{{customer.address}}">
                  </div>
                  <div class="col-md-6">
                    <label>Email</label>
                    <input type="text" name="email" placeholder="write your email here*" class="form-control" value="{{customer.email}}">
                  </div>
                  <div class="col-md-6">
                    <label>Phone Number</label>
                    <input type="text" name="phone_number" placeholder="write your phone number here*" class="form-control" value="{{customer.phone_number}}">
                  </div>
                  </div>              
                  <div class="col-md-6">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="write your password here*" class="form-control" value="{{customer.password}}">
                  </div>
                  <br>

                  <button type="submit" name="submit"
                    class="btn btn-dark btn-large text-uppercase w-20">Submit</button>
                </form>
              </div>
            </div>
            {{!-- Edit INFOR --}}
            <div class="tab-pane fade " id="v-pills-description" role="tabpanel"
              aria-labelledby="v-pills-description-tab" tabindex="0" style="width: 120%;">
            
            <table class="table table-striped" style="width: 120%;"> 
            <thead>
              <tr>
                <th scope="col" class="px-5">Order Code</th>
                <th scope="col" class="px-5">Amount</th>
                <th scope="col" class="px-5">Pay method</th>
                <th scope="col" class="px-5">Status</th>
                <th scope="col" class="px-5">Note</th>
                {{!-- <th scope="col" class="px-5">Action</th> --}}
              </tr>
            </thead>
            <tbody>
              
                {{#each data}}
                
              <tr>
                <th scope="row" class="px-5">
                  
                  <a href="/order/{{orderCode}}">{{orderCode}}</a>
                  </th>
                <td class="px-5">{{amount}} đ</td>
                <td class="px-5">{{paymentMethod}}</td>
                {{#if status}}
                <td class="px-5">
                {{status.name}}
                {{#ifEq status.id 4}}
                <form action="/update-status/{{this._id}}" method="POST">
                <button type="submit" class="btn btn-success">Took!</button> 
                </form>
                {{/ifEq}}
                </td>
                {{/if}}
                <td class="px-5">{{note}}</td>
                
                {{!-- Script modal  --}}
                <script>
                  var myModal = document.getElementById('myModal')
                  var myInput = document.getElementById('myInput')

                  myModal.addEventListener('shown.bs.modal', function () {
                    myInput.focus()
                  })
                </script>

              </tr>
              
              {{/each}}
              
            </tbody>
            
            </table>

            </div>
            {{!-- <div class="tab-pane fade" id="v-pills-reviews" role="tabpanel" aria-labelledby="v-pills-reviews-tab"
              tabindex="0">
              <div class="review-box d-flex flex-wrap">
                <div class="col-lg-6 d-flex flex-wrap gap-3">
                  <div class="col-md-2">
                    <div class="image-holder">
                      <img src="images/reviewer-1.jpg" alt="review" class="img-fluid rounded-circle">
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="review-content">
                      <div class="rating-container d-flex align-items-center">
                        <div class="rating" data-rating="1">
                          <svg width="24" height="24" class="text-primary">
                            <use xlink:href="#star-solid"></use>
                          </svg>
                        </div>
                        <div class="rating" data-rating="2">
                          <svg width="24" height="24" class="text-primary">
                            <use xlink:href="#star-solid"></use>
                          </svg>
                        </div>
                        <div class="rating" data-rating="3">
                          <svg width="24" height="24" class="text-primary">
                            <use xlink:href="#star-solid"></use>
                          </svg>
                        </div>
                        <div class="rating" data-rating="4">
                          <svg width="24" height="24" class="text-secondary">
                            <use xlink:href="#star-solid"></use>
                          </svg>
                        </div>
                        <div class="rating" data-rating="5">
                          <svg width="24" height="24" class="text-secondary">
                            <use xlink:href="#star-solid"></use>
                          </svg>
                        </div>
                        <span class="rating-count">(3.5)</span>
                      </div>
                      <div class="review-header">
                        <span class="author-name">Tina Johnson</span>
                        <span class="review-date">– 03/07/2023</span>
                      </div>
                      <p>Vitae tortor condimentum lacinia quis vel eros donec ac. Nam at lectus urna duis convallis
                        convallis</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 d-flex flex-wrap gap-3">
                  <div class="col-md-2">
                    <div class="image-holder">
                      <img src="images/reviewer-2.jpg" alt="review" class="img-fluid rounded-circle">
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="review-content">
                      <div class="rating-container d-flex align-items-center">
                        <div class="rating" data-rating="1">
                          <svg width="24" height="24" class="text-primary">
                            <use xlink:href="#star-solid"></use>
                          </svg>
                        </div>
                        <div class="rating" data-rating="2">
                          <svg width="24" height="24" class="text-primary">
                            <use xlink:href="#star-solid"></use>
                          </svg>
                        </div>
                        <div class="rating" data-rating="3">
                          <svg width="24" height="24" class="text-primary">
                            <use xlink:href="#star-solid"></use>
                          </svg>
                        </div>
                        <div class="rating" data-rating="4">
                          <svg width="24" height="24" class="text-secondary">
                            <use xlink:href="#star-solid"></use>
                          </svg>
                        </div>
                        <div class="rating" data-rating="5">
                          <svg width="24" height="24" class="text-secondary">
                            <use xlink:href="#star-solid"></use>
                          </svg>
                        </div>
                        <span class="rating-count">(3.5)</span>
                      </div>
                      <div class="review-header">
                        <span class="author-name">Jenny Willis</span>
                        <span class="review-date">– 03/06/2022</span>
                      </div>
                      <p>Vitae tortor condimentum lacinia quis vel eros donec ac. Nam at lectus urna duis convallis
                        convallis</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="add-review mt-5">
                <h3>Add a review</h3>
                <p>Your email address will not be published. Required fields are marked *</p>
                <form id="form" class="form-group">

                  <div class="pb-3">
                    <div class="review-rating">
                      <span>Your rating *</span>
                      <div class="rating-container d-flex align-items-center">
                        <span class="rating secondary-font">
                          <iconify-icon icon="clarity:star-solid" class="text-primary me-2"></iconify-icon>
                          <iconify-icon icon="clarity:star-solid" class="text-primary me-2"></iconify-icon>
                          <iconify-icon icon="clarity:star-solid" class="text-primary me-2"></iconify-icon>
                          <iconify-icon icon="clarity:star-solid" class="text-primary me-2"></iconify-icon>
                          <iconify-icon icon="clarity:star-solid" class="text-primary me-2"></iconify-icon>
                          (5.0)</span>
                      </div>
                    </div>
                  </div>
                  <div class="pb-3">
                    <input type="file" class="form-control" data-text="Choose your file">
                  </div>
                  <div class="pb-3">
                    <label>Your Name</label>
                    <input type="text" name="name" placeholder="Write your name here*" class="form-control">
                  </div>
                  <div class="pb-3">
                    <label>Your Email</label>
                    <input type="text" name="email" placeholder="Write your email here*" class="form-control">
                  </div>
                  <div class="pb-3">
                    <label>Your Review</label>
                    <textarea class="form-control" placeholder="Write your review here*"></textarea>
                  </div>
                  <div class="pb-3">
                    <label>
                      <input type="checkbox" required="">
                      <span class="label-body">Save my name, email, and website in this browser for the next
                        time.</span>
                    </label>
                  </div>
                  <button type="submit" name="submit"
                    class="btn btn-dark btn-large text-uppercase w-100">Submit</button>
                </form>
              </div>
            </div> --}}
          </div>
        </div>
      </div>
    </div>
  </section>
