<div class="container">
    <article class="card">
        <header class="card-header">  Tracking </header>
        <div class="card-body">
            <h6>Order ID: <b>{{updateOrder.orderCode}}</b></h6>
            <article class="card">
                <div class="card-body row">
                    <div class="col"> <strong>Customer:</strong> <br>{{updateOrder.buyerName}}</div>
                    <div class="col"> <strong>Address:</strong> <br> {{updateOrder.buyerAddress}}</div>
                    <div class="col"> <strong>Status:</strong> <br> {{selectedStatus.name}} </div>
                    <div class="col"> <strong>Phone number +84:</strong> <br> {{updateOrder.buyerPhone}} </div>
                </div>
            </article>
            <div class="track">
                {{!-- Các bước giao hàng --}}
                {{#unless showreturnsteps}}
                    <div class="step {{#if (includes activeSteps 1)}}active{{/if}}"> 
                    <span class="icon"> <i class="fa fa-ellipsis-h"></i> </span> 
                    <span class="text">Pending order</span> 
                    </div>
                    <div class="step {{#if (includes activeSteps 2)}}active{{/if}}"> 
                    <span class="icon"> <i class="fa fa-check"></i> </span> 
                    <span class="text">Order onfirmed</span> 
                    </div>
                    <div class="step {{#if (includes activeSteps 3)}}active{{/if}}"> 
                    <span class="icon"> <i class="fa fa-box"></i> </span> 
                    <span class="text">Packing order</span> 
                    </div>
                    <div class="step {{#if (includes activeSteps 4)}}active{{/if}}"> 
                    <span class="icon"> <i class="fa fa-truck"></i> </span> 
                    <span class="text">Delivering</span> 
                    </div>
                    <div class="step {{#if (includes activeSteps 5)}}active{{/if}}"> 
                    <span class="icon"> <i class="fa fa-box-open"></i> </span> 
                    <span class="text">Delivered</span> 
                    </div>
                {{/unless}}

                {{!-- Các bước hoàn trả hàng --}}
                {{#if showreturnsteps}}
                    <div class="step {{#if (includes activeSteps 6)}}active{{/if}}"> 
                    <span class="icon"> <i class="fa fa-arrow-left"></i> </span> 
                    <span class="text">Request a refund</span> 
                    </div>
                    <div class="step {{#if (includes activeSteps 7)}}active{{/if}}"> 
                    <span class="icon"> <i class="fa fa-reply"></i> </span> 
                    <span class="text">Accept the refund</span> 
                    </div>
                    <div class="step {{#if (includes activeSteps 8)}}active{{/if}}"> 
                    <span class="icon"> <i class="fa fa-check-circle"></i> </span> 
                    <span class="text">Refund</span> 
                    </div>
                {{/if}}
        </div>

            <hr>

            <ul class="row">
                {{#each updateOrder.items}}
                    <li class="col-md-4">
                    <figure class="itemside mb-3">
                        <figcaption class="info align-self-center">
                        <p class="title">{{this.item.name}}</p>
                        <span class="text-muted">Quantity: {{this.qty}}</span><br>
                        <span class="text-muted">Total: {{this.price}} VND</span>
                        </figcaption>
                    </figure>
                    </li>
                {{/each}}
            </ul>

            <hr>

            <div class="report-details">
                <h5>Report Details</h5>
                {{#if report}}
                    <p><strong>Title:</strong> {{report.title}}</p>
                    <p><strong>Description:</strong> {{report.message}}</p>
                    {{#if report.isAccepted}}
                    
                    {{else}}
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#acceptButtonModal">
                      Accept
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="acceptButtonModal" tabindex="-1" role="dialog" aria-labelledby="acceptButton" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                    <div class="modal-header">
                                            <h5 class="modal-title">Confirmation</h5>
                                        </div>
                                <div class="modal-body">
                                    <div class="container-fluid">
                                        Are you sure to accept the refuse?
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <form action="/admin/order/update-status-order/{{this.updateOrder._id}}" method="POST">
                                    <input type="hidden" name="action" value="accept">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-success">Accept</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#refuseButtonModal">
                      Refuse
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="refuseButtonModal" tabindex="-1" role="dialog" aria-labelledby="confirmationButton" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                    <div class="modal-header">
                                            <h5 class="modal-title">Confirmation</h5>
                                        </div>
                                <div class="modal-body">
                                    <div class="container-fluid">
                                        Are you sure to refuse this report?
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <form action="/update-status-order/{{this.updateOrder._id}}" method="POST">
                                    <input type="hidden" name="action" value="refuse">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-danger">Refuse</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                    <script>
                        $('#exampleModal').on('show.bs.modal', event => {
                            var button = $(event.relatedTarget);
                            var modal = $(this);
                            // Use above variables to manipulate the DOM
                            
                        });
                    </script>
                {{else}}
                    <p>No report available for this order.</p>
                {{/if}}
                
                
            </div>
            <hr>
            <a href="/admin/order" class="btn btn-warning" data-abc="true"> <i class="fa fa-chevron-left"></i> Back to orders</a>
        </div>
    </article>
</div>
<style>
    @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');body{background-color: #eeeeee;font-family: 'Open Sans',serif}.container{margin-top:50px;margin-bottom: 50px}.card{position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;min-width: 0;word-wrap: break-word;background-color: #fff;background-clip: border-box;border: 1px solid rgba(0, 0, 0, 0.1);border-radius: 0.10rem}.card-header:first-child{border-radius: calc(0.37rem - 1px) calc(0.37rem - 1px) 0 0}.card-header{padding: 0.75rem 1.25rem;margin-bottom: 0;background-color: #fff;border-bottom: 1px solid rgba(0, 0, 0, 0.1)}.track{position: relative;background-color: #ddd;height: 7px;display: -webkit-box;display: -ms-flexbox;display: flex;margin-bottom: 60px;margin-top: 50px}.track .step{-webkit-box-flex: 1;-ms-flex-positive: 1;flex-grow: 1;width: 25%;margin-top: -18px;text-align: center;position: relative}.track .step.active:before{background: #FF5722}.track .step::before{height: 7px;position: absolute;content: "";width: 100%;left: 0;top: 18px}.track .step.active .icon{background: #ee5435;color: #fff}.track .icon{display: inline-block;width: 40px;height: 40px;line-height: 40px;position: relative;border-radius: 100%;background: #ddd}.track .step.active .text{font-weight: 400;color: #000}.track .text{display: block;margin-top: 7px}.itemside{position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;width: 100%}.itemside .aside{position: relative;-ms-flex-negative: 0;flex-shrink: 0}.img-sm{width: 80px;height: 80px;padding: 7px}ul.row, ul.row-sm{list-style: none;padding: 0}.itemside .info{padding-left: 15px;padding-right: 7px}.itemside .title{display: block;margin-bottom: 5px;color: #212529}p{margin-top: 0;margin-bottom: 1rem}.btn-warning{color: #ffffff;background-color: #ee5435;border-color: #ee5435;border-radius: 1px}.btn-warning:hover{color: #ffffff;background-color: #ff2b00;border-color: #ff2b00;border-radius: 1px}
    .report-details {
        padding: 15px;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    .report-details h5 {
        margin-bottom: 10px;
        color: #333;
        font-weight: bold;
    }
    .report-details p {
        margin: 5px 0;
    }
</style>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
